<%= provide(:title, "Home") %>
<% banner = Banner.new %>

<div class="center">  
	<%= carousel_for(banner.img_urls("homeBanner/")) %>
	<div class="row">
	  <div class="col-md-3  visible-md visible-lg">
	  </div>
	  <div class="col-md-6">
	    <p><%= image_tag("logo_philosophy.png", id: "footer-icon") %></p>
			<h1>Our philosophy</h1>
			<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
			<p><%= image_tag("circulo_philosophy_1.png") %><%= image_tag("circulo_philosophy_2.png") %> <%= image_tag("circulo_philosophy_3.png")%> </p>
	  </div>
	  <div class="col-md-3 visible-md visible-lg">
	  </div>
	</div>
</div>




