<% provide(:title) %>
<div class="center">
	<div class="row">
	  <div class="col-md-3 visible-md visible-lg">
		</div>
	  <div class="col-md-6 col-centered">
	  	<h1> Secret id: <%= @secret.id %></h1>
	  	<p><%= image_tag(@secret.image) %></p>
		  <p><%= @secret.image %></p>
		  <p><%= @secret.text %></p>
		  <p><%= link_to "delete", @secret, method: :delete, data: { confirm: "Are you sure that you want to remove that secret?" }, class: "btn btn-primary" %></p>

	  </div>
	  <div class="col-md-3 visible-md visible-lg">
		</div>
	</div>
</div>